*,
html {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #607744;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #34623f;
}
img {
	max-height: 35%;
	max-width: 35%;
	float: right;
	margin: 10px;
}
/*Navbar*/
nav.Navbar{
	height: 42px;
	width: 100%;
}
ul.Navbar{
	height: 100%;
	width: 100%;
	background-color: #a8b4a5;
	list-style-type: none;
	overflow: hidden;
	text-align: center;
}

li.Navbar{
	height: 100%;
	float: left;
	border-right-style: solid;
	border-color: cadetblue;
}
a.Navbar{
	width: 100%;
	height: 100%;
	color: black;
	display: block;
	text-align: center;
	text-decoration: none;
	justify-content: center;
	white-space: nowrap;
	font-size: 1.4em;
	font-weight: bolder;
	padding: 8px 40px 8px 0px;
}
a:hover.Navbar{
	color: white;
}
/*Home Breakdown*/
div.home {
	height: 94vh;
	width: 100%;
}
/*Park Breakdown*/
div.parklist {
	height: 100%;
	width: 27%;
	float: left;
	background-color: #1e2f23;
	overflow-y: auto;
}
div.parkinfo {
	height: 100%;
	width: 73%;
	float: right;
	background-color: greenyellow;
	overflow-y: auto;
}
div.defaultinfo {
	margin: auto;
	height: 100%;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-image: url("../public/images/north-cascades-np.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*text settings*/
	color: white;
	font-size: 4.7em;
	font-weight: bolder;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

select.stateselect {
	height: 30px;
	width: 100%;
	padding-left: 2%;
	font-size: medium;
}
select.stateselect:active,
select:hover,
select:focus {
	outline: none;
}
option.defaulted {
	color: lightgrey;
	font-weight: lighter;
}
ul.parklist {
	margin: 0;
	padding: 0;
}

li.parklist {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

button.park {
	height: 40px;
	width: 100%;
	background-color: #1e2f23;
	color: whitesmoke;
	text-align: left;
	padding-left: 3%;
	font-size: medium;
	font-weight: bold;
	border-style: none;
}

button.park:hover {
	color: #34623f;
}

.casehandling {
	height: 20px;
	width: 100%;
	color: whitesmoke;
	text-align: left;
	padding-left: 3%;
	padding-top: 2%;
	font-size: medium;
	font-weight: bold;
}

/*justin lee*/
.name {
	margin: 15px;
}

.description {
	margin: 15px;
}

.phoneNumber {
	margin: 15px;
}

.email {
	margin: 15px;
}

.directions {
	margin: 15px;
}

.operatinghours {
	margin: 15px;
}

.days {
	margin: 15px;
}

.website {
	margin: 15px;
}

/*sign in*/
.signin{
	height: 94vh;
	width: 100%;
	text-align: center;
	justify-content: center;
	display: flex;
	background-image: url("../public/images/north-cascades-np.webp");
	background-position: center;
	background-size: cover;
}
.userInfo{
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.pfp{
	height: 125px;
	width: 125px;
	min-height: 125px;
	min-width: 125px;
	border: 4px;
	border-radius: 100%;
	border-color: rgb(71, 83, 49);
	border-style: solid;
}

.signinpopup{
	height: 2em;
	padding: 0 20px;
	margin: auto;
	font-size: xx-large;
	overflow: hidden;
}

.fillright{
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.signoutpopup{
	height: 2em;
	padding: 0 20px;
	margin: 0 auto;
	font-size: xx-large;
	overflow: hidden;
}