/*Home Breakdown*/
div .home {
	height: 100vh;
	width: 100%;
}
/*Park List Breakdown*/
div .parklist {
	height: 100%;
	width: 40%;
	float: left;
	background-color: green;
}
div .parkinfo {
	height: 100%;
	width: 60%;
	float: right;
	background-color: greenyellow;
}

ul .parklist {
	margin: 0;
	padding: 0;
}
li .parklist {
	list-style-type: none;
}
